@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    @include reset;
}

.spotlight-wrap {
    background-size: cover;
    height: 100vh;
    cursor: none;
    position: relative;

    a {
        position: absolute;
        z-index: 1;
        bottom: 30px;
        right: 40px;
        font-family: 'Delicious Handrawn', cursive;
        font-size: 26px;
        line-height: 34px;
        color: #aaaaaa39;
        transition: color 0.5s;
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.4), 0 2px 6px rgba(0, 0, 0, 0.5);

        &:hover {
            color: #adadadb3;
        }
    }

    .spotlight {
        position: absolute;
        height: 100vh;
        width: 100%;
        background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));

        .account__container {
            margin: 20vh 20vw;
            color: #aaaaaa1a;

            display: flex;
            flex-direction: row;

            .account__settings {
                display: flex;
                justify-content: center;
                transition: color 0.5s;
                font-weight: 400;

                &:hover {
                    color: #adadadb3;
                }
            }

            .nav__option {
                padding: 1.2vh 1.5vw;
                margin: 0.5em;
                border: 1px solid rgba(128, 128, 128, 0.295);
                border-radius: 10px;
                font-family: 'Delicious Handrawn', cursive;
                transition: color 0.5s;

                &:hover {
                    color: #adadadb3;
                    border: 1px solid rgba(244, 241, 241, 0.86);
                }
            }

            .account__info {
                padding: 1.2vh 1.5vw;
                margin: 2.3em 3em 0.5em;
                width: 50em;
                border: 1px solid rgba(128, 128, 128, 0.295);
                border-radius: 10px;
                font-family: 'Delicious Handrawn', cursive;
                transition: border color 0.5s;
                background: #aaaaaa00;

                &::placeholder {
                    color: #aaaaaa33;
                }

                &:hover {
                    color: #aaaaaa8d;
                    border: 1px solid rgba(193, 193, 193, 0.304);


                    &::placeholder {
                        color: #adadadb3;
                        transition: color 0.5s;
                    }
                }
            }
        }
    }
}

.content {
    font-size: 21px;
    color: rgba(244, 241, 241, 0.411);
    border: 1px solid rgba(244, 241, 241, 0.134);
    border-radius: 15px;

    padding: 2.5vh 1.5vw;
    margin: 1.9em 3em 0.5em;

    &:hover {
        border: 1px solid rgba(244, 241, 241, 0.411);
        //background-color: #3232326d;
        transition: background-color 0.5s;
    }
}

.profile__settings,
.privacy__settings,
.feedback__settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__settings,
.feedback__settings {
    width: 100%;

    p {
        border: 1px solid rgba(244, 241, 241, 0.151);
        border-radius: 15px;
        padding: 10px;
        margin: 10px;
        color: #aaaaaa39;

        &:hover {
            border: 1px solid rgba(244, 241, 241, 0.411);
            transition: color 0.5s;
            color: rgba(244, 241, 241, 0.719);
        }
    }

    .profile__photo {
        width: 15vw;
        border-radius: 15px;
        opacity: 0.3;

        &:hover {
            opacity: 1;
            transition: opacity 0.5s;
        }
    }

    .profile__info {
        margin: auto;
        padding: 20px;
    }
}

.settings {
    width: 80%;

    .privacy__settings {

        .privacy__message,
        .privacy__info {
            padding: 15px;
        }

        .privacy__message {
            font-size: 2em;
            color: rgba(185, 23, 23, 0.327);

            &:hover {
                color: rgba(185, 23, 23, 0.895);
                transition: color 0.8s;
                font-weight: 600;
            }
        }

        .privacy__help {
            color: rgba(244, 241, 241, 0.084);

            &:hover {
                transition: color 0.8s;
                color: rgba(244, 241, 241, 0.719);
            }
        }

        .help__button {
            margin: 25px;
            transition: background-color 0.8s;
            color: rgba(244, 241, 241, 0.081);

            &:hover {
                transition: color 0.8s;
                color: rgba(244, 241, 241, 0.719);
                background-color: #140f749d;
            }
        }
    }
}

.feedback__settings {
    .feedback__logo {
        padding: 0 15px;
        opacity: 0;

        &:hover {
            opacity: 0.6;
            transition: opacity 0.8s;
        }
    }

    span {
        padding: 10px;
        margin: 5px 10px 0px 10px;
        font-size: 14px;

        color: rgba(144, 144, 144, 0.4);

        &:hover {
            color: rgba(214, 214, 214, 0.774);
            transition: color 0.8s;
        }
    }

    .feedback__info {
        display: flex;
        flex-direction: column;
        margin: 0 25px;

        input {
            background: #3232321b;
            border: 1px solid rgba(144, 144, 144, 0.4);
            margin-bottom: 15px;

            &:hover {
                background-color: #d1d1d19d;
                border: 1px solid rgba(144, 144, 144, 0.926);
                transition: background-color 0.5s;
            }
        }

        #feedback__send {
            width: 70%;
            margin: auto;
            height: 6vh;
            border-radius: 10px;
            background-color: rgba(144, 144, 144, 0.13);
            color: rgba(255, 255, 255, 0.31);
            transition: background-color 0.8s;

            &:hover {
                background-color: rgba(144, 144, 144, 0.458);
                color: rgba(195, 195, 195, 0.926);
            }
        }
    }
}