.attractions__container {
    padding: 10vh;

    .attractions__wrapper {
        padding: 2vh;

        .title__text {
            font-family: 'Delicious Handrawn', cursive;
            color: rgb(222, 212, 212);
            font-size: 6em;
        }
    }
}