@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    @include reset;
}

.main {
    display: grid;
    grid-template-rows: repeat(5, max-content);
    row-gap: 120px;
}

/*CONTACT*/
.contact {
    padding: 7vh 7vw;
    width: 80%;
    margin: auto;
}

.contact__title {
    padding-bottom: 20px;
    color: $main-color;
    font-weight: 400;
}

.contact__content {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 1fr 120px;
    margin-bottom: 15px;
}

#contact__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        width: 95%;
    }
}

.contact__input {
    width: 95%;
    height: 12%;
}

.contact__textarea {
    width: 95%;
    height: 38%;
}

.contact__images {
    display: flex;
    align-items: flex-end;
}

.contact__background {
    width: 100%;
}

.contact__btn-container {
    display: flex;
    align-items: flex-end;
}

::-webkit-input-placeholder {
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1em;
    letter-spacing: 0.04em;
    padding-left: 5px;
    padding-top: 10px;
    color: #8D8D8D;
}

.contact__input {
    background: #F3F3F3;
    border: none;
}

.contact__input:focus,
.contact__textarea:focus {
    outline: none;
}

.contact__textarea {
    background: #F3F3F3;
    border: none;
}

.section__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 71px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 0.75rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border: 1px solid $main-color;
    border-radius: 10px;
}

.section__btn--light {
    color: #333333;
    background-color: #F2F2F2;
}

.section__btn--dark {
    color: $main-color;
    background-color: #2C2C2C;
}

.section__btn--light:hover {
    background-color: #c8c6c6;
}

.section__btn--dark:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

p,
h1,
h2 {
    margin: 0;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    font-weight: lighter;
}

textarea {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
}