@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    @include reset;
    font-family: Handrawn;
}

.locations__container {
    padding: 3vh 10vh 10vh 5vh;
    //width: 50%;

    .title__text {
        font-family: 'Delicious Handrawn', cursive;
        color: rgb(222, 212, 212);
        font-size: 3em;
        display: flex;
        justify-content: center;
        padding-bottom: 2vh;
        //padding-left: 2vh;
    }

    .locations__wrapper {
        padding: 2vh;

        // GRID FOR BUTTONS //
        display: grid;
        grid-template-rows: repeat(10, 1fr);

        button {
            width: 15vw;
            height: 6vh;
            background: -webkit-linear-gradient(left, #00360e, #004d13, #351600);
            font-family: 'Delicious Handrawn', cursive;
            font-size: 14px;
            text-transform: uppercase;
            color: $main-color;
            text-align: center;
            border-radius: 20px;

            &:hover {
                cursor: pointer;
            }
        }

        .button__container {
            display: flex;
            justify-content: space-around;
        }

        .locations__card {
            display: flex;
            flex-direction: column;

            color: white;

            .loc__info>* {
                font-family: 'Delicious Handrawn', cursive;
            }

            .loc__info {
                background-color: rgba(255, 255, 255, 0.3);
                border: 2px dotted white;
                padding-left: 1vw;
                width: 90%;

                .loc__title {
                    display: flex;
                    padding-bottom: 1vh;

                    font-size: 20px;
                    text-shadow: 0 2px 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .loc__about {
                    font-size: 18px;
                    padding-bottom: 1vh;
                    //padding: 2%;
                }
            }
        }
    }
}