@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    @include reset;
    font-family: Handrawn;
}

.locations__container {
    padding: 10vh;

    .title__text {
        font-family: 'Delicious Handrawn', cursive;
        color: rgb(222, 212, 212);
        font-size: 2em;
        padding-left: 2vh;
    }

    .locations__wrapper {
        padding: 2vh;

        .locations__card {
            display: flex;
            flex-direction: column;

            color: white;

            .loc__info>* {
                font-family: 'Delicious Handrawn', cursive;
            }

            .loc__info {
                background-color: rgba(255, 255, 255, 0.3);
                border: 2px dotted white;
                padding-left: 1vw;
                width: 40%;

                .loc__title {
                    display: flex;
                    padding-bottom: 1vh;

                    font-size: 20px;
                    text-shadow: 0 2px 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
                }

                .loc__about {
                    //padding: 2%;
                }
            }
        }
    }
}