@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    @include reset;
    font-family: Handrawn;
}

.hidden {
    display: none;
}

.excursions__container {
    padding: 7vh 10vh 0 20vh;
    margin: auto;

    .excursions__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 9px;

        .excursion__card {
            display: flex;
            flex-direction: column;

            width: 70%;

            border: 2px dotted white;

            color: white;

            .exc__info>* {
                font-family: 'Delicious Handrawn', cursive;
            }

            .exc__info {
                background-color: rgba(255, 255, 255, 0.3);

                .exc__title {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 2vh;

                    font-size: 20px;
                    text-shadow: 0 2px 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
                }

                .exc__about {
                    display: none;
                    padding: 2%;
                }
            }

            img {
                object-fit: contain;
            }
        }
    }
}

.small__pic {
    width: 25vh;
    margin-left: 55px;
}