@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    @include reset;
    font-family: Handrawn;
}

.hidden {
    display: none;
}

.gallery__container {
    padding: 10vh;

    .gallery__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5px;
        margin-bottom: 25vh;

        .gallery__card {
            display: flex;
            flex-direction: column;

            border: 1px solid white;

            color: white;
        }
    }

    .mainteinance__title {
        font-family: 'Delicious Handrawn', cursive;
        color: rgb(222, 212, 212);
        font-size: 3em;
    }
}