@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    @include reset;
    font-family: Handrawn;
}

.hidden {
    display: none;
}

.hero-block__container {
    padding: 7vh;

    .hero__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3%;

        .hero__title {
            margin: auto;

            .title__text {
                font-family: 'Delicious Handrawn', cursive;
                color: rgb(222, 212, 212);
                font-size: 4em;
            }
        }

        .hero__picture {
            &>img {
                width: 35vw;
                padding-bottom: 2%;
            }

            &>figcaption {
                font-family: 'Delicious Handrawn', cursive;
                color: rgb(255, 255, 255);
                font-size: 1.4em;
                margin: auto;
            }
        }
    }
}