@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

* {
    @include reset;
    font-family: Handrawn;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: $main-color;

    &:active {
        text-decoration: none;
    }
}

.excursions__container {
    padding: 7vh 10vh 0 15vh;
    margin: auto;

    .excursions__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        //grid-gap: 9px;
        row-gap: 25px;
        column-gap: 10px;

        .excursion__card {
            display: flex;
            flex-direction: column;

            width: 70%;
            height: 100%;

            border: 2px dotted white;

            color: white;
            //background-color: rgba(255, 255, 255, 0.3);

            .exc__info>* {
                font-family: 'Delicious Handrawn', cursive;
            }

            .exc__info {
                font-family: 'Delicious Handrawn';
                //background-color: rgba(255, 255, 255, 0.3);

                .exc__title {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 2vh;

                    font-size: 20px;
                    text-shadow: 0 2px 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .exc__about {
                    display: none;
                    padding: 2%;
                }
            }

            img {
                object-fit: contain;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.small__pic {
    width: 15vh;
    margin-left: 95px;
}

.excursion__card {
    &.first-card {
        background-color: rgba(255, 137, 137, 0.574);
    }

    &.second-card {
        background-color: rgba(255, 198, 137, 0.574);
    }

    &.third-card {
        background-color: rgba(255, 239, 137, 0.574);
    }

    &.fourth-card {
        background-color: rgba(137, 255, 178, 0.574);
    }

    &.fifth-card {
        background-color: rgba(137, 204, 255, 0.574);
    }

    &.sixth-card {
        background-color: rgba(225, 137, 255, 0.574);
    }
}