@mixin FlexCenter {
    display: flex;
    justify-content: center;
}

@mixin backgroundPosition {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    z-index: 1;
}

@font-face {
    font-family: 'Handrawn';
    src: url('../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}