@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
/*      GENERAL     */
@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  max-width: 1600px;
  min-width: 300px;
  margin: 0 auto;
}
html body {
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  max-width: 100%;
}
html body .main {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 60px;
}

/* general */
a {
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
}

* {
  padding: 0;
  box-sizing: border-box;
  /* means that all the things inside have internal limits in order to hide y-scroll */
}

.container {
  width: 100%;
  margin: 0 auto;
}

/*      FORM STYLES     */
.login-form__container {
  width: 100%;
  min-height: 100vh;
  /*     ELEMS-POSITIONING    */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  /*      BG-POSITIONING     */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* in order not to cover log-in form */
}
.login-form__container .login-form__wrapper {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  background: 0 0;
  padding: 30px 0 50px 0;
}
.login-form__container .login-form__wrapper .login-form__title {
  padding-bottom: 18px;
  font-family: Handrawn;
  font-size: 56px;
  font-weight: 700;
  color: black;
  text-shadow: 1px 1px 3px #FC0, 0 0 1em rgb(255, 255, 25), 0 0 0.5em #FC0;
  box-shadow: #e6e6e6;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.login-form {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(244, 244, 244);
  padding: 5px 0 20px 0;
}

.validate-input,
.gender {
  position: relative;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 17px 0;
}
.wrap-input .input {
  font-family: Handrawn;
  font-size: 20px;
  color: rgb(4, 55, 0);
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 30px;
  background: 0 0;
  padding: 0 10px 0 80px;
  transition: all 0.4s;
}

.gender {
  font-family: Handrawn;
  color: rgb(119, 119, 119);
  line-height: 1.2;
  font-size: 20px;
  display: flex;
  padding: 29px 10px 29px 80px;
}
.gender .gender__radio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 25px;
}
.gender .gender__radio label {
  margin-right: 3px;
}

.container-login-form__btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}
.container-login-form__btn .login-form__btn,
.container-login-form__btn .login-form__btn-fake {
  display: flex;
  justify-content: center;
  font-family: Handrawn;
  font-size: 18px;
  color: black;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  position: relative;
  background: -webkit-linear-gradient(left, #debe2e, #fbff1d, #cbb300);
}

/*      SUB-GENERAL     */
button {
  border: none;
}

input {
  outline: none;
  border: none;
}
input::placeholder {
  color: grey;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*     CURSOR-SETTINGS    */
.login-form__btn:hover,
.login-form__btn-fake:hover {
  cursor: pointer;
}

#errorMsg {
  font-family: Ubuntu-Bold;
  font-size: 21px;
  font-weight: 500;
  font-style: italic;
  color: rgb(127, 3, 3);
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
}

.header__container {
  color: white;
  padding-right: 10px;
  align-items: center;
}

.header {
  width: 100%;
  height: 11vh;
  background-color: rgba(107, 113, 121, 0.766);
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__body .fa-globe {
  display: flex;
  justify-content: center;
  transform: scale(2, 2);
}

.header__logo {
  flex: 0 0 100px;
  position: relative;
  z-index: 3;
}
.header__logo .logo {
  max-width: 100%;
  display: block;
}

.header__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 10px;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  font-family: "Delicious Handrawn", cursive;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
}
.header__link:hover {
  text-decoration: overline;
}

.header__burger {
  display: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: white;
  font-weight: lighter;
}

button[type=submit] {
  background-color: rgba(76, 175, 79, 0);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: rgba(69, 69, 69, 0.766);
}

.fa {
  font-size: 20px;
  color: white;
}
.fa:hover {
  cursor: pointer;
}

.header__menu {
  width: 100%;
  height: 100%;
}

@media (max-width: 1031px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 60px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger_Span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background-color: #484e7b;
    padding: 70px 10px 20px 10px;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .search-box {
    float: left;
  }
  .search-boxInput[type=text] {
    padding: 5px;
    margin-top: 7px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    float: none;
  }
  .search-box button {
    padding: 5px;
    margin-top: 7px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    background-color: rgba(14, 14, 14, 0);
  }
  .search-box button:hover {
    font-size: 25px;
    background-color: rgba(9, 7, 7, 0.64);
    border-radius: 15px;
  }
}
@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
}

.hidden {
  display: none;
}

.hero-block__container {
  padding: 7vh;
}
.hero-block__container .hero__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3%;
}
.hero-block__container .hero__wrapper .hero__title {
  margin: auto;
}
.hero-block__container .hero__wrapper .hero__title .title__text {
  font-family: "Delicious Handrawn", cursive;
  color: rgb(222, 212, 212);
  font-size: 4em;
}
.hero-block__container .hero__wrapper .hero__picture > img {
  width: 35vw;
  padding-bottom: 2%;
}
.hero-block__container .hero__wrapper .hero__picture > figcaption {
  font-family: "Delicious Handrawn", cursive;
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  margin: auto;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
}

.locations__container {
  padding: 3vh 10vh 10vh 5vh;
}
.locations__container .title__text {
  font-family: "Delicious Handrawn", cursive;
  color: rgb(222, 212, 212);
  font-size: 3em;
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
}
.locations__container .locations__wrapper {
  padding: 2vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}
.locations__container .locations__wrapper button {
  width: 15vw;
  height: 6vh;
  background: -webkit-linear-gradient(left, #00360e, #004d13, #351600);
  font-family: "Delicious Handrawn", cursive;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border-radius: 20px;
}
.locations__container .locations__wrapper button:hover {
  cursor: pointer;
}
.locations__container .locations__wrapper .button__container {
  display: flex;
  justify-content: space-around;
}
.locations__container .locations__wrapper .locations__card {
  display: flex;
  flex-direction: column;
  color: white;
}
.locations__container .locations__wrapper .locations__card .loc__info > * {
  font-family: "Delicious Handrawn", cursive;
}
.locations__container .locations__wrapper .locations__card .loc__info {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px dotted white;
  padding-left: 1vw;
  width: 90%;
}
.locations__container .locations__wrapper .locations__card .loc__info .loc__title {
  display: flex;
  padding-bottom: 1vh;
  font-size: 20px;
  text-shadow: 0 2px 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
}
.locations__container .locations__wrapper .locations__card .loc__info .loc__title:hover {
  cursor: pointer;
}
.locations__container .locations__wrapper .locations__card .loc__info .loc__about {
  font-size: 18px;
  padding-bottom: 1vh;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
  overflow: hidden;
}

.hidden {
  display: none;
}

.tabs > section:not(.tabs__links) {
  display: none;
  order: 1;
}

.tabs > section:target {
  display: block;
}

body {
  background-image: url("../imgs/backgrnd.jpg");
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attractions__container {
  padding: 3vh 7vw;
}
.attractions__container .attractions__wrapper .title__text {
  font-family: "Delicious Handrawn", cursive;
  color: white;
  display: flex;
  justify-content: center;
}

@media (max-width: 1050px) {
  .title__text {
    font-size: 3em;
    padding: 6px;
  }
  .attractions__statistics {
    display: flex;
    flex-direction: column;
    padding: 5vh 7vw;
  }
  .statistics__pic {
    width: 70vw;
  }
  .statistics__info {
    width: 100%;
    margin-top: 5px;
  }
  .statistics__info .info__span {
    font-size: 24px;
  }
  .statistics__info .info__sub {
    margin-top: 10px;
  }
}
@media (min-width: 1050px) {
  .title__text {
    font-size: 4em;
    padding: 10px;
  }
  .attractions__statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7vh 7vw;
  }
  .statistics__pic {
    width: 70%;
  }
  .statistics__info {
    width: 30%;
  }
  .statistics__info .info__span {
    font-size: 24px;
  }
  .statistics__info .info__sub {
    margin-top: 10px;
  }
}
span,
p {
  color: white;
  font-family: "Delicious Handrawn", cursive;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}
a:active {
  text-decoration: none;
}

.excursions__container {
  padding: 7vh 10vh 0 15vh;
  margin: auto;
}
.excursions__container .excursions__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 10px;
}
.excursions__container .excursions__wrapper .excursion__card {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  border: 2px dotted white;
  color: white;
}
.excursions__container .excursions__wrapper .excursion__card .exc__info > * {
  font-family: "Delicious Handrawn", cursive;
}
.excursions__container .excursions__wrapper .excursion__card .exc__info {
  font-family: "Delicious Handrawn";
}
.excursions__container .excursions__wrapper .excursion__card .exc__info .exc__title {
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
  font-size: 20px;
  text-shadow: 0 2px 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
}
.excursions__container .excursions__wrapper .excursion__card .exc__info .exc__title:hover {
  cursor: pointer;
}
.excursions__container .excursions__wrapper .excursion__card .exc__info .exc__about {
  display: none;
  padding: 2%;
}
.excursions__container .excursions__wrapper .excursion__card img {
  object-fit: contain;
}
.excursions__container .excursions__wrapper .excursion__card img:hover {
  cursor: pointer;
}

.small__pic {
  width: 15vh;
  margin-left: 95px;
}

.excursion__card.first-card {
  background-color: rgba(255, 137, 137, 0.574);
}
.excursion__card.second-card {
  background-color: rgba(255, 198, 137, 0.574);
}
.excursion__card.third-card {
  background-color: rgba(255, 239, 137, 0.574);
}
.excursion__card.fourth-card {
  background-color: rgba(137, 255, 178, 0.574);
}
.excursion__card.fifth-card {
  background-color: rgba(137, 204, 255, 0.574);
}
.excursion__card.sixth-card {
  background-color: rgba(225, 137, 255, 0.574);
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
}

.hidden {
  display: none;
}

.gallery__container {
  padding: 10vh;
}
.gallery__container .gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  margin-bottom: 20vh;
}
.gallery__container .gallery__wrapper .gallery__card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 5%;
  color: white;
}
.gallery__container .gallery__wrapper .gallery__card img {
  object-fit: contain;
}
.gallery__container .gallery__wrapper .gallery__card img:hover {
  cursor: pointer;
}
.gallery__container .gallery__wrapper .gallery__card .exc__title {
  display: flex;
  justify-content: center;
}
.gallery__container .gallery__wrapper .gallery__card > * {
  margin: auto;
}
.gallery__container .mainteinance__title {
  font-family: "Delicious Handrawn", cursive;
  color: rgb(222, 212, 212);
  font-size: 3em;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Delicious Handrawn";
  overflow: hidden;
}

.movies {
  width: 100%;
  margin: 0 auto;
  font-family: "Delicious Handrawn";
  color: white;
}
.movies__popular {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 60px 30px 30px 30px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.movie {
  width: 100%;
}
.movie__img {
  height: 250px;
  position: relative;
  border-radius: 25px;
  cursor: pointer;
}
.movie__img:hover {
  box-shadow: 2px 2px 2px 2px #b2c0c0;
}
.movie__year, .movie__rating {
  font-family: "Delicious Handrawn";
  font-size: 1.5em;
  margin-bottom: 15px;
}
.movie__link {
  text-decoration: none;
  border-radius: 5px;
  padding: 13px;
  background-color: rgba(156, 201, 215, 0.67);
  color: white;
}
.movie__link:hover {
  background-color: #494949;
}
.movie__description {
  margin: 20px 50px;
}

.movie2 {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 110;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.movie2 div {
  font-size: 1.1em;
  font-style: normal;
  overflow: auto;
  background-color: #475F66;
  border-radius: 30px;
  width: 50%;
  height: 70%;
  margin: 0 auto;
  margin-top: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie2 .movie__name {
  margin-bottom: 30px;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-rows: repeat(5, max-content);
  row-gap: 120px;
}

/*CONTACT*/
.contact {
  padding: 7vh 7vw;
  width: 80%;
  margin: auto;
}

.contact__title {
  padding-bottom: 20px;
  color: white;
  font-weight: 400;
}

.contact__content {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 1fr 120px;
  margin-bottom: 15px;
}

#contact__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact__form input {
  width: 95%;
}

.contact__input {
  width: 95%;
  height: 12%;
}

.contact__textarea {
  width: 95%;
  height: 38%;
}

.contact__images {
  display: flex;
  align-items: flex-end;
}

.contact__background {
  width: 100%;
}

.contact__btn-container {
  display: flex;
  align-items: flex-end;
}

::-webkit-input-placeholder {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1em;
  letter-spacing: 0.04em;
  padding-left: 5px;
  padding-top: 10px;
  color: #8D8D8D;
}

.contact__input {
  background: #F3F3F3;
  border: none;
}

.contact__input:focus,
.contact__textarea:focus {
  outline: none;
}

.contact__textarea {
  background: #F3F3F3;
  border: none;
}

.section__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 71px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 0.75em;
  line-height: 0.75rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
}

.section__btn--light {
  color: #333333;
  background-color: #F2F2F2;
}

.section__btn--dark {
  color: white;
  background-color: #2C2C2C;
}

.section__btn--light:hover {
  background-color: #c8c6c6;
}

.section__btn--dark:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: white;
  font-weight: lighter;
}

textarea {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spotlight-wrap {
  background-size: cover;
  height: 100vh;
  cursor: none;
  position: relative;
}
.spotlight-wrap a {
  position: absolute;
  z-index: 1;
  bottom: 30px;
  right: 40px;
  font-family: "Delicious Handrawn", cursive;
  font-size: 26px;
  line-height: 34px;
  color: rgba(170, 170, 170, 0.2235294118);
  transition: color 0.5s;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.4), 0 2px 6px rgba(0, 0, 0, 0.5);
}
.spotlight-wrap a:hover {
  color: rgba(173, 173, 173, 0.7019607843);
}
.spotlight-wrap .spotlight {
  position: absolute;
  height: 100vh;
  width: 100%;
}
.spotlight-wrap .spotlight .account__container {
  margin: 20vh 20vw;
  color: rgba(170, 170, 170, 0.1019607843);
  display: flex;
  flex-direction: row;
}
.spotlight-wrap .spotlight .account__container .account__settings {
  display: flex;
  justify-content: center;
  transition: color 0.5s;
  font-weight: 400;
}
.spotlight-wrap .spotlight .account__container .account__settings:hover {
  color: rgba(173, 173, 173, 0.7019607843);
}
.spotlight-wrap .spotlight .account__container .nav__option {
  padding: 1.2vh 1.5vw;
  margin: 0.5em;
  border: 1px solid rgba(128, 128, 128, 0.295);
  border-radius: 10px;
  font-family: "Delicious Handrawn", cursive;
  transition: color 0.5s;
}
.spotlight-wrap .spotlight .account__container .nav__option:hover {
  color: rgba(173, 173, 173, 0.7019607843);
  border: 1px solid rgba(244, 241, 241, 0.86);
}
.spotlight-wrap .spotlight .account__container .account__info {
  padding: 1.2vh 1.5vw;
  margin: 2.3em 3em 0.5em;
  width: 50em;
  border: 1px solid rgba(128, 128, 128, 0.295);
  border-radius: 10px;
  font-family: "Delicious Handrawn", cursive;
  transition: border color 0.5s;
  background: rgba(170, 170, 170, 0);
}
.spotlight-wrap .spotlight .account__container .account__info::placeholder {
  color: rgba(170, 170, 170, 0.2);
}
.spotlight-wrap .spotlight .account__container .account__info:hover {
  color: rgba(170, 170, 170, 0.5529411765);
  border: 1px solid rgba(193, 193, 193, 0.304);
}
.spotlight-wrap .spotlight .account__container .account__info:hover::placeholder {
  color: rgba(173, 173, 173, 0.7019607843);
  transition: color 0.5s;
}

.content {
  font-size: 21px;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2.5vh 1.5vw;
  margin: 1.9em 3em 0.5em;
  background-color: rgba(50, 50, 50, 0.6196078431);
}

.profile__settings,
.privacy__settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__settings {
  width: 100%;
}
.profile__settings p {
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
.profile__settings .profile__photo {
  width: 15vw;
  border-radius: 15px;
}
.profile__settings .profile__info {
  margin: auto;
  padding: 20px;
}

.settings {
  width: 80%;
}
.settings .privacy__settings .privacy__message,
.settings .privacy__settings .privacy__info {
  padding: 15px;
}
.settings .privacy__settings .privacy__message {
  font-size: 2em;
  color: rgb(185, 23, 23);
}
.settings .privacy__settings .help__button {
  margin: 25px;
  transition: background-color 0.3s;
}
.settings .privacy__settings .help__button:hover {
  background-color: rgba(20, 15, 116, 0.6156862745);
}/*# sourceMappingURL=app.css.map */