@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
/*      GENERAL     */
@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  max-width: 1600px;
  min-width: 300px;
  margin: 0 auto;
}
html body {
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  max-width: 100%;
}
html body .main {
  display: grid;
  grid-template-rows: repeat(3, max-content);
  row-gap: 60px;
}

/* general */
a {
  text-decoration: none;
}

p,
h1,
h2 {
  margin: 0;
}

* {
  padding: 0;
  box-sizing: border-box;
  /* means that all the things inside have internal limits in order to hide y-scroll */
}

.container {
  width: 100%;
  margin: 0 auto;
}

/*      FORM STYLES     */
.login-form__container {
  width: 100%;
  min-height: 100vh;
  /*     ELEMS-POSITIONING    */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  /*      BG-POSITIONING     */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* in order not to cover log-in form */
}
.login-form__container .login-form__wrapper {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  background: 0 0;
  padding: 30px 0 50px 0;
}
.login-form__container .login-form__wrapper .login-form__title {
  padding-bottom: 18px;
  font-family: Handrawn;
  font-size: 56px;
  font-weight: 700;
  color: black;
  text-shadow: 1px 1px 3px #FC0, 0 0 1em rgb(255, 255, 25), 0 0 0.5em #FC0;
  box-shadow: #e6e6e6;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.login-form {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(244, 244, 244);
  padding: 5px 0 20px 0;
}

.validate-input,
.gender {
  position: relative;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0;
}
.wrap-input .input {
  font-family: Handrawn;
  font-size: 20px;
  color: rgb(4, 55, 0);
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 30px;
  background: 0 0;
  padding: 0 10px 0 80px;
  transition: all 0.4s;
}

.gender {
  font-family: Handrawn;
  color: rgb(119, 119, 119);
  line-height: 1.2;
  font-size: 20px;
  display: flex;
  padding: 29px 10px 29px 80px;
}
.gender .gender__radio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 25px;
}
.gender .gender__radio label {
  margin-right: 3px;
}

.container-login-form__btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}
.container-login-form__btn .login-form__btn,
.container-login-form__btn .login-form__btn-fake {
  display: flex;
  justify-content: center;
  font-family: Handrawn;
  font-size: 18px;
  color: black;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  position: relative;
  background: -webkit-linear-gradient(left, #debe2e, #fbff1d, #cbb300);
}

/*      SUB-GENERAL     */
button {
  border: none;
}

input {
  outline: none;
  border: none;
}
input::placeholder {
  color: grey;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*     CURSOR-SETTINGS    */
.login-form__btn:hover,
.login-form__btn-fake:hover {
  cursor: pointer;
}

#errorMsg {
  font-family: Ubuntu-Bold;
  font-size: 21px;
  font-weight: 500;
  font-style: italic;
  color: rgb(127, 3, 3);
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
}

.header__container {
  color: white;
  padding-right: 10px;
  align-items: center;
}

.header {
  width: 100%;
  height: 11vh;
  background-color: rgba(107, 113, 121, 0.766);
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__body .fa-globe {
  display: flex;
  justify-content: center;
  transform: scale(2, 2);
}

.header__logo {
  flex: 0 0 100px;
  position: relative;
  z-index: 3;
}
.header__logo .logo {
  max-width: 100%;
  display: block;
}

.header__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 10px;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  font-family: "Delicious Handrawn", cursive;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
}
.header__link:hover {
  text-decoration: overline;
}

.header__burger {
  display: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  color: white;
  font-weight: lighter;
}

button[type=submit] {
  background-color: rgba(76, 175, 79, 0);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: rgba(69, 69, 69, 0.766);
}

.fa {
  font-size: 20px;
  color: white;
}
.fa:hover {
  cursor: pointer;
}

.header__menu {
  width: 100%;
  height: 100%;
}

@media (max-width: 1031px) {
  body.lock {
    overflow: hidden;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 60px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger_Span {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    background-color: #484e7b;
    padding: 70px 10px 20px 10px;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .search-box {
    float: left;
  }
  .search-boxInput[type=text] {
    padding: 5px;
    margin-top: 7px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    float: none;
  }
  .search-box button {
    padding: 5px;
    margin-top: 7px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    background-color: rgba(14, 14, 14, 0);
  }
  .search-box button:hover {
    font-size: 25px;
    background-color: rgba(9, 7, 7, 0.64);
    border-radius: 15px;
  }
}
@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
}

.hidden {
  display: none;
}

.hero-block__container {
  padding: 7vh;
}
.hero-block__container .hero__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3%;
}
.hero-block__container .hero__wrapper .hero__title {
  margin: auto;
}
.hero-block__container .hero__wrapper .hero__title .title__text {
  font-family: "Delicious Handrawn", cursive;
  color: rgb(222, 212, 212);
  font-size: 4em;
}
.hero-block__container .hero__wrapper .hero__picture > img {
  width: 35vw;
  padding-bottom: 2%;
}
.hero-block__container .hero__wrapper .hero__picture > figcaption {
  font-family: "Delicious Handrawn", cursive;
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  margin: auto;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
}

.hidden {
  display: none;
}

.excursions__container {
  padding: 10vh;
}
.excursions__container .excursions__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}
.excursions__container .excursions__wrapper .excursion__card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  color: white;
}
.excursions__container .excursions__wrapper .excursion__card .exc__info > * {
  font-family: "Delicious Handrawn", cursive;
}
.excursions__container .excursions__wrapper .excursion__card .exc__info .exc__title {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  font-size: 20px;
  text-shadow: 0 2px 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
}
.excursions__container .excursions__wrapper .excursion__card .exc__info .exc__about {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.3);
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
  overflow: hidden;
}

.hidden {
  display: none;
}

.tabs > section:not(.tabs__links) {
  display: none;
  order: 1;
}

.tabs > section:target {
  display: block;
}

body {
  background-image: url("../imgs/backgrnd.jpg");
}

.attractions__container {
  padding: 10vh;
}
.attractions__container .attractions__wrapper {
  padding: 2vh;
}
.attractions__container .attractions__wrapper .title__text {
  font-family: "Delicious Handrawn", cursive;
  color: rgb(222, 212, 212);
  font-size: 6em;
}

@font-face {
  font-family: "Handrawn";
  src: url("../fonts/DeliciousHandrawn/DeliciousHandrawn-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Handrawn;
}

.hidden {
  display: none;
}

.gallery__container {
  padding: 10vh;
}
.gallery__container .gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  margin-bottom: 20vh;
}
.gallery__container .gallery__wrapper .gallery__card {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 5%;
  color: white;
}
.gallery__container .gallery__wrapper .gallery__card .exc__title {
  display: flex;
  justify-content: center;
}
.gallery__container .gallery__wrapper .gallery__card > * {
  margin: auto;
}
.gallery__container .mainteinance__title {
  font-family: "Delicious Handrawn", cursive;
  color: rgb(222, 212, 212);
  font-size: 3em;
}/*# sourceMappingURL=app.css.map */